body {
  color: white;
  background-color: rgb(160, 3, 160);
}

.container {
  width: 60%;
  margin-left: 50%;
  transform: translate(-50%);
  background-color: rgb(160, 3, 160);
  text-align: center;
  height: auto;
  margin-top: 8%;
}

.landing-page {
  background-color: rgb(177, 2, 177);
  border: 1px solid black;
  box-shadow: 0px 0px 25px 2px black;
  height: auto;
  overflow: auto;
}
.landing-page h1 {
  font-size: 4vw;
}

button {
  border: 3px solid rgb(78, 0, 78);
  border-radius: 5px;
  color: white;
  width: 100px;
  height: auto;
  font-size: 1.3vw;
  font-weight: bold;
  background-color: rgb(160, 3, 160);
  overflow: auto;
  margin-top: 12%;
  margin-bottom: 2%;
}

#start-btn {
}

.timer {
  font-size: 1.2vw;
  text-align: right;
  margin-right: 5%;
  margin-left: auto;
  width: 10vw;
  margin-top: 2%;
}

.questionList {
  box-shadow: 0px 0px 25px 2px black;
  background-color: rgb(177, 2, 177);
}

.question {
  background-color: rgb(177, 2, 177);
  height: 15vh;
  width: 45vw;
  transform: translate(-50%);
  margin-left: 50%;
  padding-top: 0%;
  font-size: 2.8vw;
}

.choices {
  width: 23vw;
  height: 16vh;
  margin-bottom: 0%;
  margin-top: 4%;
}

.right-choice {
  margin-left: 7%;
}

.answer-check {
}
.answer-check button {
  margin-top: 3%;
  height: 7vh;
}

#answer-check {
}

#score-page {
  box-shadow: 0px 0px 25px 2px black;
  background-color: rgb(177, 2, 177);
  height: auto;
  padding: 2%;
  font-size: 2vw;
}

#scoreResult {
  text-align: left;
  margin-left: 20%;
  width: 10vw;
  font-size: 2vw;
}

.user-name {
  text-align: left;
  margin-left: 20%;
  width: 15vw;
  font-size: 2vw;
  margin-bottom: 5%;
}

input {
  background-color: rgb(216, 1, 216);
  border: 1px black;
  box-shadow: 0px 0px 4px 1px black;
}

#highscores {
}

.all-scores {
}

#return-btn {
}

.hide {
  display: none;
}
