body {
    text-align: center;
    background-color: rgb(4, 182, 182);
}

.hidden {
    display: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
}

.timer {
    float: right;
}

.choices {
    type
}