body{
    color: white;
    background-color: rgb(160, 3, 160);
}

.container {
    width: 70%;
    margin-left: 50%;
    transform: translate(-50%);
    background-color: aqua;
    text-align: center;
    height: 80vh;
}

.landing-page {
    background-color: rgb(160, 3, 160);
    border: 2px solid black;

}

button {
    border: 3px solid rgb(78, 0, 78);
    border-radius: 5px;
    color: white;
    width: 100px;
    height: auto;
    font-size: 1.3vw;
    font-weight: bold;
    background-color: rgb(160, 3, 160);
    overflow: auto;
}

#start-btn {
}

.timer {
}

.questionList {
}

.question {
}

.choices {
}

#answer-check {
}

#score-page {
}

#scoreResult {
}

.user-name {
}

#highscores {
}

.all-scores {
}

#return-btn {
}

.hide {
    display: none;
}